<div class="card">
    <p-splitter [panelSizes]="[30, 70]" styleClass="mb-5">
        <ng-template pTemplate>
            <div id="scoreaxis-widget-51237" style="border-width:0px;border-color:rgba(0, 0, 0, 0.15);border-style:solid;border-radius:8px;padding:10px;background:rgb(255, 255, 255);width:100%;background-color:#ffffff;container:1px"><iframe id="Iframe" src="https://www.scoreaxis.com/widget/team-info/228494?autoHeight=1&amp;font=0&amp;fontSize=16&amp;bodyBackground=%23ffffff&amp;textColor=%23000000&amp;links=1&amp;inst=51237" style="width:100%;border:none;transition:all 300ms ease"></iframe><script>window.addEventListener("DOMContentLoaded",event=>{window.addEventListener("message",event=>{if(event.data.appHeight&&"51237"==event.data.inst){let container=document.querySelector("#scoreaxis-widget-51237 iframe");container&&(container.style.height=parseInt(event.data.appHeight)+"px")}},!1)});</script></div><div style="font-size: 12px; font-family: Arial, sans-serif; text-align: left;">
            </div>
            
        </ng-template>
        <ng-template pTemplate>
            <div class="col flex align-items-center justify-content-center">
                <iframe frameborder="0" scrolling="yes" id="fs-70108" src="https://www.fastscore.com/widgets/standings/27894/70108?ff=1&fs=15&lh=18&bg=FFFFFF&fc=212529&tfc=FD7E14&ifc=AFAFAF&lbc=DEE2E6&sbr=false&sci=true&sha=true&stl=true&slc=true&tlg=true&tlk=true&mp=true&mw=true&md=true&ml=true&gl=true&gd=true&f=true" style="width: 100%"></iframe>
            </div>
        </ng-template>
    </p-splitter>
    <div id="scoreaxis-widget-3e329" style="border-width:0px;border-color:rgba(0, 0, 0, 0.15);border-style:solid;border-radius:8px;padding:10px;background:rgb(255, 255, 255);width:100%;container:1px;background-color:#ffffff"><iframe id="Iframe" src="https://www.scoreaxis.com/widget/league-top-players/1488?autoHeight=1&amp;font=0&amp;textColor=%23000000&amp;bodyBackground=%23ffffff&amp;inst=3e329" style="width:100%;border:none;transition:all 300ms ease"></iframe><script>window.addEventListener("DOMContentLoaded",event=>{window.addEventListener("message",event=>{if(event.data.appHeight&&"3e329"==event.data.inst){let container=document.querySelector("#scoreaxis-widget-3e329 iframe");container&&(container.style.height=parseInt(event.data.appHeight)+"px")}},!1)});</script></div><div style="font-size: 12px; font-family: Arial, sans-serif; text-align: left;">
    </div>
</div>



