<div class="card">
  <p-splitter [panelSizes]="[25, 75]" styleClass="mb-5">
      <ng-template pTemplate>
          <div class="col flex align-items-center justify-content-center">
            <div id="scoreaxis-widget-edbb5" style="border-width:1px;border-color:rgba(0, 0, 0, 0.15);border-style:solid;border-radius:8px;padding:10px;background:rgb(255, 255, 255);width:100%"><iframe id="Iframe" src="https://www.scoreaxis.com/widget/league-top-players/2286?autoHeight=1&amp;inst=edbb5" style="width:100%;border:none;transition:all 300ms ease"></iframe><script>window.addEventListener("DOMContentLoaded",event=>{window.addEventListener("message",event=>{if(event.data.appHeight&&"edbb5"==event.data.inst){let container=document.querySelector("#scoreaxis-widget-edbb5 iframe");container&&(container.style.height=parseInt(event.data.appHeight)+"px")}},!1)});</script></div><div style="font-size: 12px; font-family: Arial, sans-serif; text-align: left;"></div>          
          </div>
      </ng-template>
      <ng-template pTemplate>
          <div class="col flex align-items-center justify-content-center">
            <iframe id="sofa-standings-embed-93699-52327" src="https://widgets.sofascore.com/embed/tournament/93699/season/52327/standings/Group%20C?widgetTitle=Group C&showCompetitionLogo=true"  frameborder="0" scrolling="no"></iframe>
          </div>
      </ng-template>
  </p-splitter>

<div class="flex justify-content-center">
        <button type="button" (click)="showDialog()" pButton icon="pi pi-external-link" label="View"></button>
    </div>
    <p-dialog header="TopGoalScorers Of FC Ballkani" [resizable]="false" [modal]="true" [maximizable]="true" appendTo="body" [(visible)]="dialogVisible" [style]="{width: '75vw'}" [contentStyle]="{height: '300px'}">
        <p-table [value]="players" [scrollable]="true" scrollHeight="flex" [tableStyle]="{'min-width': '50rem'}">
            <ng-template pTemplate="header">
                <tr>
                    <th>Name</th>
                    <th>Country</th>
                    <th>Goals</th>
                    <th>Assist</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-player>
                <tr>
                    <td>{{player.name}}</td>
                    <td>{{player.country.name}}</td>
                    <td>{{player.goals}}</td>
                    <td>{{player.assist}}</td>
                </tr>
            </ng-template>
        </p-table>
        <ng-template pTemplate="footer">
            <button type="button" pButton pRipple icon="pi pi-times" (click)="dialogVisible=false" label="Dismiss" class="p-button-text"></button>
        </ng-template>
    </p-dialog>
</div>

