@import "primeflex/primeflex.css";


.col img {
  width: 350px;
}

:host ::ng-deep {
  .product-item {
      .product-item-content {
          border: 1px solid;
          border-radius: 3px;
          margin: .3rem;
          text-align: center;
          padding: 2rem 0;
         
      }
  
      .product-image {
          width: 60%;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
      }
  }
}

.card h1 {
  padding-left: 40px;
}

iframe{
  height:514px!important;
  max-width:620px!important;
  width:100%!important;
}